.left {
  color: aqua;
  text-align: left;
}

.right {
  text-align: right;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.my-bubble {
  color: #fff;
  max-width: 60%;
  padding: 15px;
  position: relative;
  background: rgb(70, 168, 177);
  border-radius: 1em;
  margin-bottom: 20px;
}

.my-bubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 60%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: rgb(70, 168, 177);
  border-bottom: 0;
  border-right: 0;
  margin-left: -5px;
  margin-bottom: -10px;
}

.speech-date {
  color: #606060;
  padding-left: 15px;
  padding-bottom: 0;
  margin-bottom: 0;
  position: relative;
}

.speech-bubble {
  margin-top: 0;
  color: #fff;
  max-width: 60%;
  padding: 15px;
  position: relative;
  background: rgb(255, 110, 97);
  border-radius: 1em;
  margin-bottom: 20px;
}

.speech-bubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 40%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: rgb(255, 110, 97);
  border-bottom: 0;
  border-left: 0;
  margin-left: -5px;
  margin-bottom: -10px;
}
